body{
    background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/10675419/The_Verge_Singularity_Wallpaper_Landscape.0.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
}

.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline;

}

.topnav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px;
    width: 14.5%;
    text-decoration: none;
    display: block;
}

.dropdown {
    float: left;
    overflow: hidden;
    display: inline;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    /*outline: none;*/
    color: white;
    padding: 14px 60px;
    width: 100%;

    background-color: inherit;
    font-family: inherit;
    /*display: inline-block;*/
}

.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #00d8ff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20%;
}

.dropdown-content a {
  float: none;
  color: black;
  /*padding: 12px 16px;*/
  width: 90%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.topnav a.active {
    background-color: #00d8ff;
    color: white;
    float: right;
}

#shoppingCart{
    font-size:40px;
    background: inherit;
    border: none
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.hidden{
    display: none;
}

.modal {
    /*display:none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #888888;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    border-radius: 50px;
    width: 30%;
    padding-bottom: 30px;
    text-align: center;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}